
{{#each news}}
    <div class="row justify-content-md-center" isSave="no">
        <div class="col-10" style="background:AliceBlue;margin: 2em">
            <div class="posts-wrap" post-id={{_id}}>
                <div class="article-info" >
                    <h4><a href={{link}} target="_blank">{{title}}</a></h4>
                    <p>By {{author}}</p>
                    <p>{{formatDate writtenDate}}</p>
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target={{concat "#news" _id}} aria-expanded="false" aria-controls="collapseExample">
                            Detail
                        </button>
                        <button class="btn btn-primary saveBnt" post-id={{_id}}>Save it</button>
                    </p>
                    <div class="collapse" id={{concat "news" _id}}>
                        <div class="card card-body">
                            <p>{{summary}}</p>
                            <img src={{image}} style="width:40%"/>
                            {{!-- form for user to put comment --}}
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1">Commment</label>
                                    <textarea class="form-control" id={{concat "commentBox" _id}} rows="3"></textarea>
                                </div>
                                <button class="btn btn-primary commentBnt" post-id={{_id}}>Submit</button>
                            </form>
                            {{!-- display comments here --}}
                            <div id={{concat "commentList" _id}}>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
