
<div class="row justify-content-md-center" id={{_id}}>
    <div class="col-9" style="background:AliceBlue;margin: 2em">
        <div class="userInfo" >
            <h6 style="font-weight: bold;">{{postUser}}</h6>
            <p style="font-style: italic;">{{formatDate postDate}}</p>
        </div>
        <div class="comment">
            <p>{{comment}}</p>
        </div>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-danger delBnt" comment-id={{_id}}>Delete</button>
    </div>
</div>
